@import url("/css/fonts.css");
@import "tailwindcss";

@theme{
    --color-primary: #a85e2b;
    --color-second:#dca47e;
    --font-roboto-Bold: "Roboto-Bold", sans-serif;
    --font-roboto-Light: "Roboto-Light", sans-serif;
    --font-roboto-Medium: "Roboto-Medium", sans-serif;
    --font-roboto-Regular: "Roboto-Regular", sans-serif;
   
}

body{
    font-family: "Roboto-Regular", sans-serif;
}